USE [master]
GO
/****** Object:  Database [DatPhongKhachSanDB]   www.manguonvip.com ******/
CREATE DATABASE [DatPhongKhachSanDB]
GO

USE [DatPhongKhachSanDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[City]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hotel]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[Star] [int] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Avatar_Id] [int] NULL,
	[City_Id] [int] NULL,
	[Manager_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Hotel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelFeature]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelFeature](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HotelFeature] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelImage]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](200) NULL,
	[Hotel_Id] [int] NULL,
 CONSTRAINT [PK_dbo.HotelImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelRoom]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelRoom](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[No] [int] NOT NULL,
	[HotelRoomType_Id] [int] NULL,
	[Manager_Id] [int] NULL,
 CONSTRAINT [PK_dbo.HotelRoom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelRoomType]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelRoomType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MaxPeople] [int] NOT NULL,
	[Avatar_Id] [int] NULL,
	[Hotel_Id] [int] NULL,
 CONSTRAINT [PK_dbo.HotelRoomType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelRoomTypeHotelFeature]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelRoomTypeHotelFeature](
	[HotelRoomType_Id] [int] NOT NULL,
	[HotelFeature_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.HotelRoomTypeHotelFeature] PRIMARY KEY CLUSTERED 
(
	[HotelRoomType_Id] ASC,
	[HotelFeature_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Manager]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[BirthDay] [datetime] NOT NULL,
	[Sex] [bit] NOT NULL,
	[Skype] [nvarchar](max) NULL,
	[ChucVu] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[Image_Id] [int] NULL,
	[ManagerPermission_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Manager] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ManagerPermission]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerPermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Permission] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ManagerPermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Price] [int] NOT NULL,
	[State] [int] NOT NULL,
	[OrderContact_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderContact]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderContact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[BirthDay] [datetime] NOT NULL,
	[Sex] [bit] NOT NULL,
	[Skype] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.OrderContact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderHotelRoomType]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHotelRoomType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumOfRoom] [int] NOT NULL,
	[NumOfPeople] [int] NOT NULL,
	[HotelRoomType_Id] [int] NULL,
	[Order_Id] [int] NULL,
 CONSTRAINT [PK_dbo.OrderHotelRoomType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Promote]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[HotelRoomType_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Promote] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomPrice]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomPrice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Price] [int] NOT NULL,
	[HotelRoomType_Id] [int] NULL,
 CONSTRAINT [PK_dbo.RoomPrice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SearchInput]   www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchInput](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KeyWord] [nvarchar](max) NULL,
	[DateCheckIn] [datetime] NOT NULL,
	[DateCheckOut] [datetime] NOT NULL,
	[CityId] [int] NOT NULL,
	[Star] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SearchInput] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Name]) VALUES (1, N'Hà Nội')
INSERT [dbo].[City] ([Id], [Name]) VALUES (2, N'Tp.HCM')
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Hotel] ON 

INSERT [dbo].[Hotel] ([Id], [Name], [Description], [Adress], [Star], [Phone], [Email], [Avatar_Id], [City_Id], [Manager_Id]) VALUES (1, N'Ha Noi Pearl', N'Pearl ', N'No 6, Bao Khanh Lane, Hoan Kiem District, 10000, Hà Nội, Việt Nam', 4, N'09867865457', N'PearlHotel@gmail.com', 1, 1, NULL)
INSERT [dbo].[Hotel] ([Id], [Name], [Description], [Adress], [Star], [Phone], [Email], [Avatar_Id], [City_Id], [Manager_Id]) VALUES (2, N' Somerset West Lake', N'', N'254D Thuy Khue Road, 10000, Hà Nội, Việt Nam', 5, N'09874565665', N' Somerset West Lake@gmail.com', 2, 1, NULL)
INSERT [dbo].[Hotel] ([Id], [Name], [Description], [Adress], [Star], [Phone], [Email], [Avatar_Id], [City_Id], [Manager_Id]) VALUES (3, N'Xe đón miễn phí Hà Nội Sofitel Plaza', N'', N'Số 1 Thanh niên, Quận Ba Đình', 5, N'', N'', 7, 1, NULL)
SET IDENTITY_INSERT [dbo].[Hotel] OFF
SET IDENTITY_INSERT [dbo].[HotelFeature] ON 

INSERT [dbo].[HotelFeature] ([Id], [Name]) VALUES (2, N'Wifi')
INSERT [dbo].[HotelFeature] ([Id], [Name]) VALUES (3, N'Dịch vụ đón tiễn sân bay')
INSERT [dbo].[HotelFeature] ([Id], [Name]) VALUES (4, N'Dịch vụ đặt phòng khách sạn')
SET IDENTITY_INSERT [dbo].[HotelFeature] OFF
SET IDENTITY_INSERT [dbo].[HotelImage] ON 

INSERT [dbo].[HotelImage] ([Id], [Url], [Hotel_Id]) VALUES (1, N'/Images/HotelImages/2942392_v1_isq.jpeg', NULL)
INSERT [dbo].[HotelImage] ([Id], [Url], [Hotel_Id]) VALUES (2, N'/Images/HotelImages/361161_v1_isq.jpeg', NULL)
INSERT [dbo].[HotelImage] ([Id], [Url], [Hotel_Id]) VALUES (3, N'/Images/HotelImages/2942392_v1_isq.jpeg', NULL)
SET IDENTITY_INSERT [dbo].[HotelImage] OFF
SET IDENTITY_INSERT [dbo].[HotelRoomType] ON 

INSERT [dbo].[HotelRoomType] ([Id], [Name], [MaxPeople], [Avatar_Id], [Hotel_Id]) VALUES (1, N'Vip', 4, 3, 1)
INSERT [dbo].[HotelRoomType] ([Id], [Name], [MaxPeople], [Avatar_Id], [Hotel_Id]) VALUES (2, N'Nomal', 6, 4, 1)
INSERT [dbo].[HotelRoomType] ([Id], [Name], [MaxPeople], [Avatar_Id], [Hotel_Id]) VALUES (3, N'Vip', 4, 8, 3)
SET IDENTITY_INSERT [dbo].[HotelRoomType] OFF
SET IDENTITY_INSERT [dbo].[Manager] ON 

INSERT [dbo].[Manager] ([Id], [Name], [Adress], [Phone], [Email], [BirthDay], [Sex], [Skype], [ChucVu], [UserName], [Password], [Active], [Image_Id], [ManagerPermission_Id]) VALUES (13, N'ESON', NULL, NULL, NULL, CAST(0x00007DAD00000000 AS DateTime), 1, NULL, NULL, N'admin01', N'fc0iUkg331qk3V8HY6MWvQ==', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Manager] OFF
SET IDENTITY_INSERT [dbo].[ManagerPermission] ON 

INSERT [dbo].[ManagerPermission] ([Id], [Permission]) VALUES (1, 0)
INSERT [dbo].[ManagerPermission] ([Id], [Permission]) VALUES (2, 1)
INSERT [dbo].[ManagerPermission] ([Id], [Permission]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[ManagerPermission] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [StartDate], [EndDate], [OrderDate], [Price], [State], [OrderContact_Id]) VALUES (1, CAST(0x0000A5E200000000 AS DateTime), CAST(0x0000A5E500000000 AS DateTime), CAST(0x0000A5DB00BC0E7F AS DateTime), 3000000, 1, 1)
INSERT [dbo].[Order] ([Id], [StartDate], [EndDate], [OrderDate], [Price], [State], [OrderContact_Id]) VALUES (2, CAST(0x0000A5E200000000 AS DateTime), CAST(0x0000A5E500000000 AS DateTime), CAST(0x0000A5DB00C14BB7 AS DateTime), 10500000, 0, 2)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderContact] ON 

INSERT [dbo].[OrderContact] ([Id], [Name], [Adress], [Phone], [Email], [BirthDay], [Sex], [Skype]) VALUES (1, N'Nguyễn Văn A', N'Hà nội', N'0989123456', N'nguyen.a@gmail.com', CAST(0x0000A5E200000000 AS DateTime), 0, NULL)
INSERT [dbo].[OrderContact] ([Id], [Name], [Adress], [Phone], [Email], [BirthDay], [Sex], [Skype]) VALUES (2, N'Trần Thị B', N'Hà Nội', N'0909123456', N'tran.b@gmail.com', CAST(0x0000A5E200000000 AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[OrderContact] OFF
SET IDENTITY_INSERT [dbo].[OrderHotelRoomType] ON 

INSERT [dbo].[OrderHotelRoomType] ([Id], [NumOfRoom], [NumOfPeople], [HotelRoomType_Id], [Order_Id]) VALUES (1, 2, 2, 1, 1)
INSERT [dbo].[OrderHotelRoomType] ([Id], [NumOfRoom], [NumOfPeople], [HotelRoomType_Id], [Order_Id]) VALUES (2, 1, 2, 1, 2)
INSERT [dbo].[OrderHotelRoomType] ([Id], [NumOfRoom], [NumOfPeople], [HotelRoomType_Id], [Order_Id]) VALUES (3, 3, 6, 2, 2)
SET IDENTITY_INSERT [dbo].[OrderHotelRoomType] OFF
SET IDENTITY_INSERT [dbo].[RoomPrice] ON 

INSERT [dbo].[RoomPrice] ([Id], [StartDate], [EndDate], [Price], [HotelRoomType_Id]) VALUES (1, CAST(0x0000A5DB00000000 AS DateTime), CAST(0x0000A5F800000000 AS DateTime), 500000, 1)
INSERT [dbo].[RoomPrice] ([Id], [StartDate], [EndDate], [Price], [HotelRoomType_Id]) VALUES (2, CAST(0x0000A5DB00000000 AS DateTime), CAST(0x0000A5F800000000 AS DateTime), 1000000, 2)
INSERT [dbo].[RoomPrice] ([Id], [StartDate], [EndDate], [Price], [HotelRoomType_Id]) VALUES (3, CAST(0x0000A5DB00000000 AS DateTime), CAST(0x0000A5F800000000 AS DateTime), 2780000, 3)
SET IDENTITY_INSERT [dbo].[RoomPrice] OFF
SET IDENTITY_INSERT [dbo].[SearchInput] ON 

INSERT [dbo].[SearchInput] ([Id], [KeyWord], [DateCheckIn], [DateCheckOut], [CityId], [Star]) VALUES (1, N'', CAST(0x0000A5E200000000 AS DateTime), CAST(0x0000A5E500000000 AS DateTime), 0, 0)
INSERT [dbo].[SearchInput] ([Id], [KeyWord], [DateCheckIn], [DateCheckOut], [CityId], [Star]) VALUES (2, N' Ha Noi Pearl ', CAST(0x0000A5E200000000 AS DateTime), CAST(0x0000A5E500000000 AS DateTime), 1, 0)
INSERT [dbo].[SearchInput] ([Id], [KeyWord], [DateCheckIn], [DateCheckOut], [CityId], [Star]) VALUES (3, N' Ha Noi Pearl ', CAST(0x0000A5E200000000 AS DateTime), CAST(0x0000A5E500000000 AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[SearchInput] OFF
/****** Object:  Index [IX_Avatar_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_Avatar_Id] ON [dbo].[Hotel]
(
	[Avatar_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_City_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_City_Id] ON [dbo].[Hotel]
(
	[City_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Manager_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_Manager_Id] ON [dbo].[Hotel]
(
	[Manager_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Hotel_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_Hotel_Id] ON [dbo].[HotelImage]
(
	[Hotel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HotelRoomType_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_HotelRoomType_Id] ON [dbo].[HotelRoom]
(
	[HotelRoomType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Manager_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_Manager_Id] ON [dbo].[HotelRoom]
(
	[Manager_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Avatar_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_Avatar_Id] ON [dbo].[HotelRoomType]
(
	[Avatar_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Hotel_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_Hotel_Id] ON [dbo].[HotelRoomType]
(
	[Hotel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HotelFeature_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_HotelFeature_Id] ON [dbo].[HotelRoomTypeHotelFeature]
(
	[HotelFeature_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HotelRoomType_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_HotelRoomType_Id] ON [dbo].[HotelRoomTypeHotelFeature]
(
	[HotelRoomType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Image_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_Image_Id] ON [dbo].[Manager]
(
	[Image_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManagerPermission_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_ManagerPermission_Id] ON [dbo].[Manager]
(
	[ManagerPermission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderContact_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_OrderContact_Id] ON [dbo].[Order]
(
	[OrderContact_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HotelRoomType_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_HotelRoomType_Id] ON [dbo].[OrderHotelRoomType]
(
	[HotelRoomType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_Order_Id] ON [dbo].[OrderHotelRoomType]
(
	[Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HotelRoomType_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_HotelRoomType_Id] ON [dbo].[Promote]
(
	[HotelRoomType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HotelRoomType_Id]   www.manguonvip.com ******/
CREATE NONCLUSTERED INDEX [IX_HotelRoomType_Id] ON [dbo].[RoomPrice]
(
	[HotelRoomType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Hotel_dbo.City_City_Id] FOREIGN KEY([City_Id])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Hotel] CHECK CONSTRAINT [FK_dbo.Hotel_dbo.City_City_Id]
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Hotel_dbo.HotelImage_Avatar_Id] FOREIGN KEY([Avatar_Id])
REFERENCES [dbo].[HotelImage] ([Id])
GO
ALTER TABLE [dbo].[Hotel] CHECK CONSTRAINT [FK_dbo.Hotel_dbo.HotelImage_Avatar_Id]
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Hotel_dbo.Manager_Manager_Id] FOREIGN KEY([Manager_Id])
REFERENCES [dbo].[Manager] ([Id])
GO
ALTER TABLE [dbo].[Hotel] CHECK CONSTRAINT [FK_dbo.Hotel_dbo.Manager_Manager_Id]
GO
ALTER TABLE [dbo].[HotelImage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HotelImage_dbo.Hotel_Hotel_Id] FOREIGN KEY([Hotel_Id])
REFERENCES [dbo].[Hotel] ([Id])
GO
ALTER TABLE [dbo].[HotelImage] CHECK CONSTRAINT [FK_dbo.HotelImage_dbo.Hotel_Hotel_Id]
GO
ALTER TABLE [dbo].[HotelRoom]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HotelRoom_dbo.HotelRoomType_HotelRoomType_Id] FOREIGN KEY([HotelRoomType_Id])
REFERENCES [dbo].[HotelRoomType] ([Id])
GO
ALTER TABLE [dbo].[HotelRoom] CHECK CONSTRAINT [FK_dbo.HotelRoom_dbo.HotelRoomType_HotelRoomType_Id]
GO
ALTER TABLE [dbo].[HotelRoom]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HotelRoom_dbo.Manager_Manager_Id] FOREIGN KEY([Manager_Id])
REFERENCES [dbo].[Manager] ([Id])
GO
ALTER TABLE [dbo].[HotelRoom] CHECK CONSTRAINT [FK_dbo.HotelRoom_dbo.Manager_Manager_Id]
GO
ALTER TABLE [dbo].[HotelRoomType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HotelRoomType_dbo.Hotel_Hotel_Id] FOREIGN KEY([Hotel_Id])
REFERENCES [dbo].[Hotel] ([Id])
GO
ALTER TABLE [dbo].[HotelRoomType] CHECK CONSTRAINT [FK_dbo.HotelRoomType_dbo.Hotel_Hotel_Id]
GO
ALTER TABLE [dbo].[HotelRoomType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HotelRoomType_dbo.HotelImage_Avatar_Id] FOREIGN KEY([Avatar_Id])
REFERENCES [dbo].[HotelImage] ([Id])
GO
ALTER TABLE [dbo].[HotelRoomType] CHECK CONSTRAINT [FK_dbo.HotelRoomType_dbo.HotelImage_Avatar_Id]
GO
ALTER TABLE [dbo].[HotelRoomTypeHotelFeature]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HotelRoomTypeHotelFeature_dbo.HotelFeature_HotelFeature_Id] FOREIGN KEY([HotelFeature_Id])
REFERENCES [dbo].[HotelFeature] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HotelRoomTypeHotelFeature] CHECK CONSTRAINT [FK_dbo.HotelRoomTypeHotelFeature_dbo.HotelFeature_HotelFeature_Id]
GO
ALTER TABLE [dbo].[HotelRoomTypeHotelFeature]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HotelRoomTypeHotelFeature_dbo.HotelRoomType_HotelRoomType_Id] FOREIGN KEY([HotelRoomType_Id])
REFERENCES [dbo].[HotelRoomType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HotelRoomTypeHotelFeature] CHECK CONSTRAINT [FK_dbo.HotelRoomTypeHotelFeature_dbo.HotelRoomType_HotelRoomType_Id]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Manager_dbo.HotelImage_Image_Id] FOREIGN KEY([Image_Id])
REFERENCES [dbo].[HotelImage] ([Id])
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_dbo.Manager_dbo.HotelImage_Image_Id]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Manager_dbo.ManagerPermission_ManagerPermission_Id] FOREIGN KEY([ManagerPermission_Id])
REFERENCES [dbo].[ManagerPermission] ([Id])
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_dbo.Manager_dbo.ManagerPermission_ManagerPermission_Id]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_dbo.OrderContact_OrderContact_Id] FOREIGN KEY([OrderContact_Id])
REFERENCES [dbo].[OrderContact] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_dbo.Order_dbo.OrderContact_OrderContact_Id]
GO
ALTER TABLE [dbo].[OrderHotelRoomType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderHotelRoomType_dbo.HotelRoomType_HotelRoomType_Id] FOREIGN KEY([HotelRoomType_Id])
REFERENCES [dbo].[HotelRoomType] ([Id])
GO
ALTER TABLE [dbo].[OrderHotelRoomType] CHECK CONSTRAINT [FK_dbo.OrderHotelRoomType_dbo.HotelRoomType_HotelRoomType_Id]
GO
ALTER TABLE [dbo].[OrderHotelRoomType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderHotelRoomType_dbo.Order_Order_Id] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderHotelRoomType] CHECK CONSTRAINT [FK_dbo.OrderHotelRoomType_dbo.Order_Order_Id]
GO
ALTER TABLE [dbo].[Promote]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Promote_dbo.HotelRoomType_HotelRoomType_Id] FOREIGN KEY([HotelRoomType_Id])
REFERENCES [dbo].[HotelRoomType] ([Id])
GO
ALTER TABLE [dbo].[Promote] CHECK CONSTRAINT [FK_dbo.Promote_dbo.HotelRoomType_HotelRoomType_Id]
GO
ALTER TABLE [dbo].[RoomPrice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoomPrice_dbo.HotelRoomType_HotelRoomType_Id] FOREIGN KEY([HotelRoomType_Id])
REFERENCES [dbo].[HotelRoomType] ([Id])
GO
ALTER TABLE [dbo].[RoomPrice] CHECK CONSTRAINT [FK_dbo.RoomPrice_dbo.HotelRoomType_HotelRoomType_Id]
GO
/****** Object:  Statistic [_WA_Sys_00000002_3B75D760]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000002_3B75D760] ON [dbo].[__MigrationHistory]([ContextKey]) WITH STATS_STREAM = 0x01000000010000000000000000000000DA55AE620000000077020000000000003702000000000000E7030080E7000000580200000000000008D000340000000007000000F372B200DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060420000803F00000000000060420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005700000000000000C300000000000000CB000000000000000800000000000000300010000000803F000000000000803F04000001004F00440041004F002E004D006900670072006100740069006F006E0073002E0043006F006E00660069006700750072006100740069006F006E00FF01000000000000000100000001000000280000002800000000000000000000001C000000440041004F002E004D006900670072006100740069006F006E0073002E0043006F006E00660069006700750072006100740069006F006E00020000004000000000011C000000000100000000000000
GO
/****** Object:  Statistic [PK_dbo.__MigrationHistory]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[__MigrationHistory]([PK_dbo.__MigrationHistory]) WITH STATS_STREAM = 0x0100000002000000000000000000000047D63FF80000000058000000000000000000000000000000E7030000E70000002C0100000000000008D0003400000000E7030000E7000000580200000000000008D0003400000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_0EA330E9]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000002_0EA330E9] ON [dbo].[City]([Name]) WITH STATS_STREAM = 0x01000000010000000000000000000000C5FDBA73000000002302000000000000E301000000000000E7023C08E7000000FFFF00000000000008D00034FFFFFFFF070000001FC5B200DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002D000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F0400000100250048006F00720069007A006F006E00FF01000000000000000100000001000000280000002800000000000000000000000700000048006F00720069007A006F006E000200000040000000000107000000000100000000000000
GO
/****** Object:  Statistic [PK_dbo.City]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[City]([PK_dbo.City]) WITH STATS_STREAM = 0x01000000010000000000000000000000356FD05E00000000EA01000000000000AA01000000000000380300003800000004000A000000000000000000000000000700000092E3B200DBA5000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F020000000400000200000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_164452B1]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000002_164452B1] ON [dbo].[Hotel]([Name]) WITH STATS_STREAM = 0x01000000010000000000000000000000193461B300000000B2020000000000007202000000000000E7020000E7000000FFFF00000000000008D000340000000007000000AD61BA00DBA5000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000004420000004000000000000004420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008000000000000000FE00000000000000060100000000000010000000000000004300000000000000300010000000803F000000000000803F0400000100330020004800610020004E006F006900200050006500610072006C002000300010000000803F000000000000803F04000001003D00200053006F006D00650072007300650074002000570065007300740020004C0061006B006500FF01000000000000000200000002000000280000002800000000000000000000002000000020004800610020004E006F006900200050006500610072006C00200053006F006D00650072007300650074002000570065007300740020004C0061006B0065000400000040000000004001000000810D01000001120E0000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_164452B1]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000005_164452B1] ON [dbo].[Hotel]([Star]) WITH STATS_STREAM = 0x0100000001000000000000000000000054290EC500000000EA01000000000000AA01000000000000380302003800000004000A0000000000000000007802780D07000000AB61BA00DBA5000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F04000000040000100014000000803F000000000000803F050000000400000200000000000000
GO
/****** Object:  Statistic [IX_Avatar_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Hotel]([IX_Avatar_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000C4DA14D500000000BC010000000000006401000000000000380200003800000004000A00000000000000000002000000380300003800000004000A0000000000000000000000000007000000CC22B800DBA5000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000014000000000080400000803F0000803F0000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000100000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_City_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Hotel]([IX_City_Id]) WITH STATS_STREAM = 0x0100000002000000000000000000000082F4E09B00000000E3010000000000008B01000000000000380200003800000004000A00000000000000000001000000380300003800000004000A0000000000000000000000803F07000000AB61BA00DBA5000002000000000000000200000000000000000000000000803F0000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000004000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000000040000000000000803F010000000400000200000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_Manager_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Hotel]([IX_Manager_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000A1E1F87E0000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.Hotel]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Hotel]([PK_dbo.Hotel]) WITH STATS_STREAM = 0x01000000010000000000000000000000C72EE43300000000CB010000000000008B01000000000000380305003800000004000A000000000000000000000000000700000059F3B700DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.HotelFeature]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[HotelFeature]([PK_dbo.HotelFeature]) WITH STATS_STREAM = 0x010000000100000000000000000000007ED72CC700000000CB010000000000008B01000000000000380300003800000004000A00000000000000000001000000070000009EE3B800DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 7, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_Hotel_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[HotelImage]([IX_Hotel_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000F3BA11B600000000BC010000000000006401000000000000380200003800000004000A00000000000000000001000000380300003800000004000A0000000000000000000100000007000000F969BA00DBA5000002000000000000000200000000000000000000000000803F0000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000140000000000804000000040000000400000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000200000000000000, ROWCOUNT = 10, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.HotelImage]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[HotelImage]([PK_dbo.HotelImage]) WITH STATS_STREAM = 0x01000000010000000000000000000000651F1A7F00000000CB010000000000008B01000000000000380300003800000004000A0000000000000000000000000007000000D722B800DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 10, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_HotelRoomType_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[HotelRoom]([IX_HotelRoomType_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000A1E1F87E0000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_Manager_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[HotelRoom]([IX_Manager_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000A1E1F87E0000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.HotelRoom]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[HotelRoom]([PK_dbo.HotelRoom]) WITH STATS_STREAM = 0x010000000100000000000000000000008864E4560000000040000000000000000000000000000000380300003800000004000A00000000000000000001000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_Avatar_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[HotelRoomType]([IX_Avatar_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000AC627AA7000000000202000000000000AA01000000000000380200003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000070000000E69BB00DBA5000002000000000000000200000000000000000000000000003F0000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000200000014000000000000410000004000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F03000000040000100014000000803F000000000000803F040000000400000200000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_Hotel_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[HotelRoomType]([IX_Hotel_Id]) WITH STATS_STREAM = 0x010000000200000000000000000000001476929F00000000E3010000000000008B01000000000000380200003800000004000A00000000000000000000000000380300003800000004000A0000000000000000000000000007000000125EBB00DBA5000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000803F00000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.HotelRoomType]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[HotelRoomType]([PK_dbo.HotelRoomType]) WITH STATS_STREAM = 0x01000000010000000000000000000000CC074DB200000000EA01000000000000AA01000000000000380300003800000004000A0000000000000000003800000007000000EC68BB00DBA5000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F020000000400000200000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_HotelFeature_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[HotelRoomTypeHotelFeature]([IX_HotelFeature_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000C4EA81170000000058000000000000000000000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_HotelRoomType_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[HotelRoomTypeHotelFeature]([IX_HotelRoomType_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000C4EA81170000000058000000000000000000000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.HotelRoomTypeHotelFeature]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[HotelRoomTypeHotelFeature]([PK_dbo.HotelRoomTypeHotelFeature]) WITH STATS_STREAM = 0x01000000020000000000000000000000C4EA81170000000058000000000000000000000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_182C9B23]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000002_182C9B23] ON [dbo].[Manager]([Name]) WITH STATS_STREAM = 0x01000000010000000000000000000000EFF09AE7000000001702000000000000D701000000000000E7024DB2E7000000FFFF00000000000008D000340000000007000000F6F0B400DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000803F0000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000270000000000000063000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001001F00450053004F004E00FF010000000000000001000000010000002800000028000000000000000000000004000000450053004F004E000200000040000000000104000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_182C9B23]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000003_182C9B23] ON [dbo].[Manager]([Adress]) WITH STATS_STREAM = 0x0100000001000000000000000000000086B5325400000000DB010000000000009B01000000000000E7020A52E7000000FFFF00000000000008D00034F09F3C0807000000F5F0B400DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000100000001000000010000002800000028000000000000000000000000000000010000000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_182C9B23]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000004_182C9B23] ON [dbo].[Manager]([Phone]) WITH STATS_STREAM = 0x01000000010000000000000000000000845DC6F900000000DB010000000000009B01000000000000E7020A52E7000000FFFF00000000000008D00034F09F3C0807000000F4F0B400DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000100000001000000010000002800000028000000000000000000000000000000010000000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_182C9B23]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000005_182C9B23] ON [dbo].[Manager]([Email]) WITH STATS_STREAM = 0x0100000001000000000000000000000008C9EA0E00000000DB010000000000009B01000000000000E7020A52E7000000FFFF00000000000008D00034F09F3C0807000000F3F0B400DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000100000001000000010000002800000028000000000000000000000000000000010000000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_182C9B23]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000006_182C9B23] ON [dbo].[Manager]([BirthDay]) WITH STATS_STREAM = 0x01000000010000000000000000000000E3312D3E00000000CF010000000000008F010000000000003D0300003D000000080017030000000000000000E700000007000000EAF0B400DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000023000000000000002B000000000000000800000000000000100018000000803F000000000000803F00000000AD7D00000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_182C9B23]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000007_182C9B23] ON [dbo].[Manager]([Sex]) WITH STATS_STREAM = 0x010000000100000000000000000000001C28936000000000C801000000000000880100000000000068030000680000000100010000000000000000000000000007000000E9F0B400DBA5000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F0000803F000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001C0000000000000024000000000000000800000000000000100011000000803F000000000000803F010400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_182C9B23]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000008_182C9B23] ON [dbo].[Manager]([Skype]) WITH STATS_STREAM = 0x010000000100000000000000000000009273C6E400000000DB010000000000009B01000000000000E7020000E7000000FFFF00000000000008D000340100000007000000E9F0B400DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000100000001000000010000002800000028000000000000000000000000000000010000000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000009_182C9B23]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000009_182C9B23] ON [dbo].[Manager]([ChucVu]) WITH STATS_STREAM = 0x01000000010000000000000000000000CB5CEED100000000DB010000000000009B01000000000000E7020000E7000000FFFF00000000000008D000340100000007000000E7F0B400DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000100000001000000010000002800000028000000000000000000000000000000010000000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_182C9B23]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_0000000A_182C9B23] ON [dbo].[Manager]([UserName]) WITH STATS_STREAM = 0x010000000100000000000000000000007FBF921A000000001F02000000000000DF01000000000000E7020000E7000000FFFF00000000000008D000340000000007000000E7F0B400DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002B000000000000006B0000000000000073000000000000000800000000000000300010000000803F000000000000803F04000001002300730061006B00750072006100FF010000000000000001000000010000002800000028000000000000000000000006000000730061006B007500720061000200000040000000000106000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000B_182C9B23]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_0000000B_182C9B23] ON [dbo].[Manager]([Password]) WITH STATS_STREAM = 0x01000000010000000000000000000000D22C46A0000000001B02000000000000DB01000000000000E7020000E7000000FFFF00000000000008D000340000000007000000E6F0B400DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000290000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F0400000100210031003200330034003500FF010000000000000001000000010000002800000028000000000000000000000005000000310032003300340035000200000040000000000105000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000C_182C9B23]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_0000000C_182C9B23] ON [dbo].[Manager]([Active]) WITH STATS_STREAM = 0x010000000100000000000000000000005CFE223000000000C801000000000000880100000000000068030000680000000100010000000000000000000000000007000000E5F0B400DBA5000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F0000803F000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001C0000000000000024000000000000000800000000000000100011000000803F000000000000803F010400000100000000000000
GO
/****** Object:  Statistic [IX_Image_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Manager]([IX_Image_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000F462A47900000000BC010000000000006401000000000000380200003800000004000A00000000000000000000000000380300003800000004000A0000000000000000000000000007000000E4F0B400DBA5000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000014000000000080400000803F0000803F0000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000100000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_ManagerPermission_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Manager]([IX_ManagerPermission_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000BD643EF800000000E3010000000000008B01000000000000380200003800000004000A00000000000000000001000000380300003800000004000A0000000000000000000000803F07000000E4F0B400DBA5000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000803F00000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.Manager]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Manager]([PK_dbo.Manager]) WITH STATS_STREAM = 0x01000000010000000000000000000000F3F39D1E00000000CB010000000000008B01000000000000380305003800000004000A00000000000000000000000000070000001B41B500DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F0D0000000400000100000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_1A14E395]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000002_1A14E395] ON [dbo].[ManagerPermission]([Permission]) WITH STATS_STREAM = 0x0100000001000000000000000000000055C8CBD300000000CB010000000000008B0100000000000038039D1E3800000004000A0000000000000000000000000007000000EB13B400DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
/****** Object:  Statistic [PK_dbo.ManagerPermission]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[ManagerPermission]([PK_dbo.ManagerPermission]) WITH STATS_STREAM = 0x01000000010000000000000000000000A89D4B6A00000000EA01000000000000AA01000000000000380300003800000004000A00000000000000000000000000070000001D91B500DBA50000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F030000000400000300000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_239E4DCF]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000002_239E4DCF] ON [dbo].[Order]([StartDate]) WITH STATS_STREAM = 0x010000000100000000000000000000001AC96F3000000000CF010000000000008F010000000000003D033C083D000000080017030000000000000000FFFFFFFF07000000AA62BC00DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000023000000000000002B000000000000000800000000000000100018000000803F000000000000803F00000000E2A500000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_239E4DCF]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000003_239E4DCF] ON [dbo].[Order]([EndDate]) WITH STATS_STREAM = 0x0100000001000000000000000000000000C66EAB00000000CF010000000000008F010000000000003D033C083D000000080017030000000000000000FFFFFFFF07000000AA62BC00DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000023000000000000002B000000000000000800000000000000100018000000803F000000000000803F00000000E5A500000400000100000000000000
GO
/****** Object:  Statistic [IX_OrderContact_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Order]([IX_OrderContact_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000D32AABAF00000000E3010000000000008B01000000000000380200003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000070000006918BC00DBA5000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000803F00000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.Order]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Order]([PK_dbo.Order]) WITH STATS_STREAM = 0x01000000010000000000000000000000843307B700000000CB010000000000008B01000000000000380305003800000004000A00000000000000000000000000070000005818BC00DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.OrderContact]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[OrderContact]([PK_dbo.OrderContact]) WITH STATS_STREAM = 0x01000000010000000000000000000000587AFF0C00000000CB010000000000008B01000000000000380300003800000004000A00000000000000000001000000070000006A18BC00DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_HotelRoomType_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[OrderHotelRoomType]([IX_HotelRoomType_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000BE2CC43400000000E3010000000000008B010000000000003802803F3800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000070000006218BC00DBA5000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000803F00000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_Order_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[OrderHotelRoomType]([IX_Order_Id]) WITH STATS_STREAM = 0x010000000200000000000000000000008DC7A23500000000E3010000000000008B010000000000003802803F3800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000070000005F18BC00DBA5000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000803F00000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.OrderHotelRoomType]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[OrderHotelRoomType]([PK_dbo.OrderHotelRoomType]) WITH STATS_STREAM = 0x01000000010000000000000000000000F25A972200000000CB010000000000008B01000000000000380305003800000004000A00000000000000000000000000070000006218BC00DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_HotelRoomType_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Promote]([IX_HotelRoomType_Id]) WITH STATS_STREAM = 0x01000000020000000000000000000000BF7801C80000000058000000000000000000000000000000380280403800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.Promote]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Promote]([PK_dbo.Promote]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_1DE57479]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000002_1DE57479] ON [dbo].[RoomPrice]([StartDate]) WITH STATS_STREAM = 0x01000000010000000000000000000000A98A414200000000CF010000000000008F010000000000003D033C083D0000000800170300000000000000008000900D070000006EDEBB00DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000023000000000000002B000000000000000800000000000000100018000000803F000000000000803F00000000DBA500000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_1DE57479]   www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000003_1DE57479] ON [dbo].[RoomPrice]([EndDate]) WITH STATS_STREAM = 0x01000000010000000000000000000000840CC04600000000CF010000000000008F010000000000003D033C083D0000000800170300000000000000008000900D0700000065DEBB00DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000023000000000000002B000000000000000800000000000000100018000000803F000000000000803F00000000F8A500000400000100000000000000
GO
/****** Object:  Statistic [IX_HotelRoomType_Id]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[RoomPrice]([IX_HotelRoomType_Id]) WITH STATS_STREAM = 0x010000000200000000000000000000005D2FE6F200000000E3010000000000008B01000000000000380200003800000004000A00000000000000000000000000380300003800000004000A000000000000000000000000000700000063BEBB00DBA5000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000803F00000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.RoomPrice]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[RoomPrice]([PK_dbo.RoomPrice]) WITH STATS_STREAM = 0x01000000010000000000000000000000D5BA52C600000000CB010000000000008B01000000000000380305003800000004000A000000000000000000000000000700000056DEBB00DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.SearchInput]   www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[SearchInput]([PK_dbo.SearchInput]) WITH STATS_STREAM = 0x01000000010000000000000000000000F69495FE00000000CB010000000000008B01000000000000380305003800000004000A0000000000000000000000000007000000FC73B200DBA5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 9, PAGECOUNT = 1
GO
USE [master]
GO
